body {
    font-family: 'Poppins', sans-serif;
    padding-top: 70px;
}

.navbar {
    background-color: #0c0c0c;
    
}


.hero {
    min-height: 100vh;
    background-image: url('../assets/images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#about {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('../assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#schedule {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('../assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}
#venue {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('../assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

#register {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('../assets/images/reg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    color: #00629B;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.btn-primary {
    background-color: #00629B;
    border: none;
}

.btn-primary:hover {
    background-color: #004f7a;
}


.hero h1,
.hero p,
#about h2,
#about p,
#schedule h2,
#schedule p,
#register h2,
#register p {
    color: #ffffff;
    text-shadow: 
        2px 2px 8px rgba(0,0,0,0.8),
        0px 0px 20px rgba(0,0,0,0.6);
}



.hero .container,
#about .container,
#schedule .container,
#register .container {
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(8px);
    padding: 40px;
    border-radius: 12px;
}